extends ../layout

block content
 	.container
		.row
			table.table.talbe-hover.table-bordered
				thead
					tr
						th Film Name
						th Directory
						th County
						th Year
						//- th Log
						th See
						th Update
						th Delete
				tbody
					each item in movies
					tr(class="item-id-#{item._id}")
						td #{item.title}
						td #{item.directory}
						td #{item.country}
						td #{item.year}
						//- td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
						td : a(target="_blank", href="../movie/#{item._id}") Check
						td:  a(target="_blank", href="../admin/updatemovie/#{item._id}") Update
						td
							button.btn.btn-danger.del(type="button", data-id="#{item._id}")  Delete
